:root {
  --primary: #2f5781;
  --bg: #aac6dc;
  --abu: #edeef1;
}

* {
  outline: none;
  border: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'poppins', Sans-Serif;
  background-color: var(--bg);
  color: var(--abu);
}

.navbar {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  position: fixed;
}

.navbar .navbar-logo {
  color: var(--abu);
  font-size: 2.2rem;
  font-weight: 600;
}

.navbar .navbar-logo span {
  color: var(--primary);
  font-style: italic;
}

.navbar .navbar-nav {
  display: inline-block;
  font-weight: 500;
}

.navbar .navbar-nav a {
  font-size: 1.4rem;
  color: var(--abu);
  position: relative;
  padding: 0.4rem 1rem;
  transition: .5s;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 0.3rem solid var(--primary);
  border-radius: 1rem;
  transform: scale(0) translateY(3rem);
  opacity: 0;
  transition: .5s;
}

.navbar .navbar-nav a:hover span {
  transform: scale(1) translateY(0);
  opacity: 1;
}

.navbar .navbar-menu {
  color: var(--abu);
}

.navbar .navbar-menu :hover {
  color: var(--primary);
}

.home {
  height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
  padding: 0 5%;
  background-image:;
  background-size: cover;
  background-repeat: no-repeat;
}

.home .home-content {
  max-width: 600px;
}

.home .home-content h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

.home .home-content h4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.home .home-content p {
  font-size: 1rem;
}

.home .home-content .home-b {
  margin-top: 1rem;
  margin-right: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  background-color: var(--primary);
  border-radius: 0.5rem;
}

.home .home-content .home-b a {
  color: var(--abu);
}


.about {
  height: 40vh;
  background-color: var(--primary);
  text-align: center;
}

.about h1 {
  color: ;
  font-weight: 700;
  font-size: 2.5rem;
  padding: 2rem 0 1rem;
}

.about h4 {
  padding: 0 0 0.8rem;
}

.about .sos {
  margin-top: 3rem;
}

.about .sos a {
  color: var(--primary);
  background-color: var(--bg);
  border: 0.3rem solid var(--abu);
  padding: 1.5rem 1rem 0.8rem;
  border-radius: 0.7rem;
  margin: 0 0.5rem;
}