:root {
  --primary: #48dfe0;
  --bg: #091b28;
}

* {
  outline: none;
  border: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'poppins', Sans-Serif;
  height: 5500px;
  background-color: var(--bg);
  color: #fff;
}

.navbar {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  position: fixed;
}

.navbar .navbar-logo {
  color: #fff;
  font-size: 35px;
}

.navbar .navbar-logo span {
  color: var(--primary);
  font-style: italic;
}

.navbar .navbar-nav {
  display: inline-block;
}

.navbar .navbar-nav a {
  font-size: 20px;
  color: #fff;
  margin: 7px;
  position: relative;
  font-weight: 500;
  padding: 6px 10px;
  transition: .5s;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid var(--primary);
  border-radius: 15px;
  transform: scale(0) translateY(50px);
  opacity: 0;
  transition: .5s;
}

.navbar .navbar-nav a:hover span {
  transform: scale(1) translateY(0);
  opacity: 1;
}

.navbar .navbar-menu {
  color: #fff;
}

.navbar .navbar-menu :hover {
  color: var(--primary);
}

.home {
  height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
  padding: 0 5%;
  background-image: url(../img/Niko-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.home .home-content {
  max-width: 600px;
}

.home .home-content h1 {
  font-size: 55px;
  font-weight: 700;
}

.home .home-content h4 {
  font-size: 25px;
  font-weight: 700;
  color: var(--primary);
  margin-top: -15px;
  margin-bottom: 15px;
}

.home .home-content p {
  font-size: 15px;
}

.home .home-content .home-cv {
  width: 345px;
  height: 50px;
  display: flex;
  background-color: transparent;
  margin-top: 15px;
}

.home .home-content .home-cv a {
  width: 150px;
  height: 100%;
  background: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-top: 9px;
  padding-left: 3px;
}

.home .home-sm {
  position: absolute;
  bottom: 40px;
  width: 170px;
}

.home .home-sm a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: 2px solid var(--primary);
  border-radius: 50%;
  font-size: 20px;
  color: var(--primary);
  margin-right: 10px;
}

.about,
.contact {
  height: 100vh;
  width: auto;
  padding: 90px 7% 40px;
}

.about h1,
.contact h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 45px;
}

.about .about-content {
  display: flex;
}

.about .about-content img {
  width: 600px;
  height: 600px;
}

.about .about-content p {
  text-align: center;
  margin-top: 100px;
  margin-left: 50px;
}

.portofolio {
  height: 330vh;
  width: auto;
  padding: 90px 7% 40px;
}

.portofolio h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 45px;
}

.portofolio p {
  text-align: center;
  margin-bottom: 10px;
}

.portofolio .portofolio-content {
  border: 5px solid var(--primary);
  height: 2400px;
}

.portofolio .portofolio-content .pc-1,
.portofolio .portofolio-content .pc-2,
.portofolio .portofolio-content .pc-3,
.portofolio .portofolio-content .pc-4,
.portofolio .portofolio-content .pc-5,
.portofolio .portofolio-content .pc-6,
.portofolio .portofolio-content .pc-7,
.portofolio .portofolio-content .pc-8 {
  display: flex;
  padding: 10px;
  height: 300px;
  width: 100%;
}

.portofolio .portofolio-content .pc-1 img,
.portofolio .portofolio-content .pc-2 img,
.portofolio .portofolio-content .pc-3 img,
.portofolio .portofolio-content .pc-4 img,
.portofolio .portofolio-content .pc-5 img,
.portofolio .portofolio-content .pc-6 img,
.portofolio .portofolio-content .pc-7 img,
.portofolio .portofolio-content .pc-8 img {
  height: 100%;
  width: 50%;
  margin-right: 20px;
}

.portofolio .portofolio-content .pc-1 p,
.portofolio .portofolio-content .pc-2 p,
.portofolio .portofolio-content .pc-3 p,
.portofolio .portofolio-content .pc-4 p,
.portofolio .portofolio-content .pc-5 p,
.portofolio .portofolio-content .pc-6 p,
.portofolio .portofolio-content .pc-7 p,
.portofolio .portofolio-content .pc-8 p {
  text-align: center;
  width: 50%;
}

.container-c {
  text-align: center;
  padding: 0px 370px;
}

.container-c .input-box,
.container-c .input-box1{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.container-c .input-box .i-name,
.container-c .input-box .i-email, 
.container-c .input-box1 .i-phone,
.container-c .input-box1 .i-subject {
  width: 100%;
  padding: 20px;
  border: 3px solid var(--primary);
  border-radius: 6px;
  background: transparent;
  color: #fff;
}

.container-c .text-area .textarea {
  padding: 20px;
  border: 3px solid var(--primary);
  border-radius: 6px;
  background: transparent;
  color: #fff;
}
