:root {
  --primary: #48dfe0;
  --bg: #091b28;
}

* {
  outline: none;
  border: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'poppins', Sans-Serif;
}

.navbar {
  display: flex;
  background-color: var(--bg);
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  top: 0;
  right: 0;
  left: 0;
  
}
